<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>
      <%= @card.card_name %>
      (<%= @card.rarity %>)
    </strong>
    <br />
    <%= image_tag @card.image_url %>

  </p>

</div>
